@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');
* {
    box-sizing: border-box;
}
body {
    margin-left: 0;
    margin-right: 0;
}
#main{
    background: linear-gradient(#F59969, orangered);
    height: 140px;
    position: fixed;
    top:0;
    width: 100%;
}
main a{
    color: #EB6A3F;
    text-decoration: none;
}
main a:hover{
    text-decoration: underline;
}
main {
    margin-bottom: 150px;
    margin-top: 180px;
    margin-left: 0;
    margin-right: 0;
}
nav{
    background-color: #393737;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}
nav li{
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    float: left;
}
nav li:hover, li.active a{
    color: darkorange;
}
nav li:hover, li.active{
    background-color: white;
}
ul{
    list-style-type: none;
    margin: 0;
}
li a{
    line-height: 40px;
    display: inline-block;
    font-family: helvetica;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
li a:hover{
    color: orangered;
}
aside{
    display: inline-flex;
    width: 25%;
    box-shadow: 0.05px 0.05px 30px -5px grey;
    border: 3px;
}
aside div{
    width: 100%;
}
aside h3{
    background-color: #EB6A3F;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin: 0px;
}
aside p{
    font-family: helvetica;
}
#gameWindow {
    position: relative;
}
#gameWindow{
    float: none;
    margin-right: 25px;
    margin-top: 15px;
}
#canvas {
    position: absolute;
    top: 10%;
    left: 15%;
    border: 5px solid black;
}
#badboy, #coach, #board, #bottle, #obstacle, #background, #background1, #backgroundend, #stadium, #bird, #score, #howtoimg {
    display: none;
}
#music {
    display: none;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #393737;
    margin: 0;
}
h1{
    text-align:center;
    color: white;
    bottom: 1em;
    left: 0px;
    right: 0px;
    position: absolute;
}
h2{
    width: 100%;
    font-weight: bold;
}
header p{
    text-align: right;
    font-family: helvetica;
    font-style: italic;
    color: #ACABAB;
}
article{
    font-family: helvetica;
}
#articles{
    display: inline-flex;
    width: 100%;
    padding: 10px;
}
#split{
    display: inline-flex;
    width: 74%;
    padding: 10px;
    padding-right: 50px;
}
footer img{
    padding-top: 20px;
    padding-bottom: 20px;
}
table{
    border-collapse: collapse;
    text-align: center;
}
th{
    border: 1px solid grey;
    background-color: #EB6A3F;
    color: white;
}
tr:nth-child(odd) {
    background-color: #FFE3D2;
}
td{
    border: 1px solid grey;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#description{
    height: 400px;
    float: left;
    margin-right: 25px;
    margin-top: 15px;
}
#maquettes{
    height: 400px;
    float: right;
    margin-left: 25px;
}
.mockup{
    margin-top: 170px;
    margin-bottom: 280px;
}
.hamburger{
    display: none;
}
#accueil, #gameplay {
    max-height: 500px;
}
#loginModal {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 1034px;
    height: 586px;
    border: 5px solid black;
}
#scoreModal {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 1034px;
    height: 166px;
    text-align: center;
    margin-top: 420px;
}
#dragndropModal {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 1034px;
    height: 486px;
    text-align: center;
    margin-top: 100px;
}
#howtoplayModal {
    position: absolute;
    top: 10%;
    left: 47%;
    width: 1034px;
    height: 100px;
    margin-top: 510px;
}
#drag{
    margin-bottom: 40px;
}
#bottleEnd {
    width: 168px;
    margin-bottom: 40px;
}
#hi {
    font-family: helvetica;
    font-size: 48px;
    text-align: center;
    margin-top: 10%
        margin-bottom: 25px;
}
#ratingFont {
    font-family: helvetica;
    font-size: 32px;
}
#thanks {
    font-family: helvetica;
    font-size: 32px;
}
#login {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-family: helvetica;
    font-size: 30px;
    margin-bottom: 298px;*/
}
#change {
    text-align: center;
}
button {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    /*touch-action: manipulation;*/
    white-space: nowrap;
}
button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
input{
    background: white;
    border-radius: 9999em;
    border: 3px solid;
    border-color: #EF4765;
    font
}
#pseudo {
    height: 33px;
    margin: 0;
    padding: 7px;
    font-family: helvetica;
    color:#EF4765;
    font-size: 14px;
}
::placeholder {
    color:#EF4765;
    font-family: helvetica;
    font-size: 14px;
}
#playAgain {
    display: none;
}
/* ---------------- POUR UN SMARTPHONE ---------------- */
@media screen and (max-width: 500px) {
    body{
        max-width: 500px;
        min-width: fit-content;
        padding-right: 0%;
        padding-bottom: 0%;
        margin-top: 0%;
        margin-bottom:0%;
        padding-right: 0%;
        margin-right: 0%;
    }
    nav a{
        padding-bottom: 0%;
        font-size: 3vh;;
        font-weight: bold;
        color: white;
    }
    nav li{
        text-align: center;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    nav ul:hover{
        background-color: #393737;
        transition: all 1s ease-in-out;
    }
    .hamburger img {
        filter: invert(100%);
    }
    #split {
        width: 100%;
        max-width: 500px;
        padding-right: 15px;
        padding-left: 15px;
    }
    nav li:not(.hamburger){
        transition: display;
        display: none;
    }
    nav:hover li:not(.hamburger){
        display: block;
    }
    main{
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
    }
    body{
        margin-bottom: 0vh;
    }
    aside {
        width: 100%;
        max-width: 500px;
    }
    footer {
        display: none;
    }
    img {
        max-width: 100%;
    }
    .hamburger{
        display: block;
    }
    footer {
        position: relative;
        display: block;
        width: 100%;
        background-color: #393737;
        text-align: center;
    }
    #logo {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
/* ---------------- POUR UNE TABLETTE ---------------- */
@media screen and (max-width: 1180px){
    aside {
        width: 100%;
        max-width: 1180px;
    }
    #split {
        width: 100%;
        max-width: 1180px;
        padding-right: 15px;
        padding-left: 15px;
    }
    img {
        max-width: 100%;
    }
    footer {
        position: relative;
        margin-bottom: 0;
        width: 100%;
        height: 80px;
        background-color: #393737;
    }
    #logo {
        max-width: 200px;
    }
}
